# Ignore videos folder
/videos/input
/videos/output

# Ignore heavy files
/model_data/models/mars-small128.pb
/model_data/models/model.pth
/model_data/models/yolov4.h5

./__pycache__

detections_from_serialized_2.py
app_foto_seguimiento.py

/.git